@import '../../Assets/Scss/import.scss';

.start {
    @include sceneContainer;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;

    h1 {
        padding-left: 80px;
        padding-right: 350px;
        position: relative;
        font-size: 80px;

        img {
            height: 400px;
            position: absolute;
            bottom: -138px;
            right: 50px;
            z-index: 1;
        }
    }
}