@import "../../Assets/Scss/import.scss";

.open-pack {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  @include homeBackground;

  .pack {
    width: 780px;
    height: 450px;
    flex-wrap: wrap;
    opacity: 0;
    position: relative;
    overflow: hidden;
    @include bottomDash;
    margin-bottom: 30px;

    .card-1,
    .card-2,
    .card-3,
    .card-4 {
      position: absolute;
      opacity: 0;
      animation: actionCardAnimation 3s linear forwards; 
    }
    
    .card-1 {
      top: 40px;
      left: 20px;
    }
    
    .card-2 {
      top: 40px;
      left: 200px;
    }
    
    .card-3 {
      top: 40px;
      left: 380px;
    }
    
    .card-4 {
      top: 40px;
      left: 560px;
    }

    // Apply initial transform to set position for the pack
    .available-actions-action {
      margin: 0;
    }

    .pack-image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%) scale(0.8); // Initial position, out of view
      width: 180px;
      height: 200px;
      background-color: $darkerGrey;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 2s ease; // Transition the transform and opacity

      h3 {
        color: $lightGrey;
        margin: 0;
      }
    }

    // When the pack is opened, trigger the main animation
    &.opened {
      opacity: 1;

      .pack-image {
        opacity: 1;
        transform: translate(-50%, 30%) scale(1); // Transition to final position
      }
    }
  }
}

@keyframes actionCardAnimation {
  0% {
    opacity: 0;
    top: 290px;
    left: 295px;
    transform: scale(0.5);
  }
  1% {
    opacity: 1;
    top: 290px;
    left: 295px;
    transform: scale(0.5);
  }
  20% {
    opacity: 1;
    top: 200px;
    left: 295px;
    transform: scale(0.5);
  }
  40% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.6);
  }
  45% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.5);
  }
  50% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.6);
  }
  55% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.5);
  }
  80% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.5);
  }
  85% {
    opacity: 1;
    top: 80px;
    left: 295px;
    transform: scale(1.6);
  }
  100% {
    opacity: 1;
  }
}