@import "../../Assets/Scss/import.scss";

.expedition-map {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

//Enemy Selection

.enemies {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.enemy-title {
  margin-top: 30px;
}

.enemy-selection {
  display: grid;
  justify-content: center;
  width: 600px;
  grid-gap: 20px;
  margin-bottom: 30px;
}

.selected-enemies {
  display: flex;
  margin-bottom: 30px;
  height: 100px;

  &-enemy {
    margin-right: 20px;
    background-color: $darkerGrey;
    @include boxShadow;
    padding: 10px;
    width: 110px;
    height: 80px;
    display: grid;
    justify-items: center;
    align-items: center;

    h4 {
      color: $lightGrey;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.choices {
 text-align: center;
}
