@import '../../Assets/Scss/import.scss';

.help {
    @include sceneContainer;
    display: grid;
    align-items: center;
    @include homeBackground;

    &:before {
        opacity: .1;
    }

    h1 {
        text-align: center;
    }

    h3 {
        margin-top: 40px;
    }

    p, ul {
        width: 100%;
    }

    .btn {
        margin: 40px auto 0;
    }

    .sample {
        margin-left: 10px;
        height: 26px;
        width: 26px;
        display: inline-block;
        border: solid 2px black;
        border-radius: 5px;
        position: relative;
        top: 8px;

        &.grey {
            background-color: $grey;
        }

        &.dark-grey {
            background-color: $darkerGrey;
        }

        &.green {
            background-color: $green;
        }

        &.gold {
            background-color: $gold;
        }

        &.purple {
            background-color: $purple;
        }
    }
}