@import '../../../../Assets/Scss/import.scss';


.enemy-container {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  padding: 30px;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;

  .enemy {
    grid-row: 1;
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
    transform: scale(1);
    opacity: 1;

    &.dead {
      opacity: .3;
      transform: scale(.8);
      cursor: not-allowed;
    }

    &-target {
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $burgendy;
      color: $lightGrey;
      bottom: -12px;
      left: -12px;
      border-radius: 50%;
      @include boxShadow;
      z-index: 10;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &.targeted {
      .enemy-target {
        opacity: 1;
      }
    }
  }

  > :nth-child(1) {
    grid-column: 3; 
  }

  > :nth-child(2) {
    grid-column: 4; 
  }

  > :nth-child(3) {
    grid-column: 2; 
  }

  > :nth-child(4) {
    grid-column: 5; 
  }

  > :nth-child(5) {
    grid-column: 1; 
  }
}

.enemy-image {
  color: $darkGrey;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include bottomWhiteFade;
}