// CharacterCard.scss
@import "../../Assets/Scss/import.scss";

.battle-pod-details {
  background-color: white;
  color: #333;
  padding: 30px;
  width: 140px;
  position: relative;
  display: inline-block;

  @include boxShadowHover;
  @include cardFrame;
}

.battle-pod-details h2 {
  margin: 0;
  font-size: 18px;
}

.battle-pod-details p {
  margin: 5px 0;
  font-size: 14px;
}

.action-container {
  height: 40px;
  background-color: $lightGrey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  p {
    font-size: 12px;
  }
}

.action-played {
  animation: fadeInOut 1s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-attack {
  background-color: $red;
}

.action-defence {
  background-color: $blue;
}

.action-heal {
  background-color: $green;
}

.action-charge {
  background-color: $gold;
}

.action-buff {
  background-color: $teal;
}

.action-illusion {
  background-color: $purple;
}

.action-missed {
  background-color: $darkerGrey;
  p {
    color: $lightGrey;
  }
}

/* New styling for timeline dots */
.timeline-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  height: 10px;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $darkGrey;
    transform: scale(1);
    transition: all 0.3s ease;
    display: inline-block;
  }

  .dot.current {
    background-color: $darkerGrey;
    transform: scale(1.2);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
