@import "../../../../Assets/Scss/import.scss";

.battle-pods {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 240px);
  padding: 10px;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
}

.char-one {
  grid-column: 3;
}

.char-two {
  grid-column: 2;
}

.char-three {
  grid-column: 4;
}

.char-four {
  grid-column: 1;
}

.char-five {
  grid-column: 5;
}

.battle-pod {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  grid-row: 1;
  display: grid;
  justify-items: center;
  position: relative;

  &::after {
    opacity: 0;
    transition: all 0.3s ease;
  }

  &.tired {
    &::after {
      content: "T";
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font;
      color: $lightGrey;
      background-color: $darkerGrey;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &.fatigued {
    &::after {
      content: "F";
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font;
      color: $lightGrey;
      background-color: $darkerGrey;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &.exhausted {
    &::after {
      content: "X";
      position: absolute;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font;
      color: $lightGrey;
      background-color: $burgendy;
      bottom: -10px;
      left: -10px;
      border-radius: 50%;
      opacity: 1;
    }
  }

  .drag-weapon {
    position: absolute;
    top: 60px;
    transform: translateX(-50%) scale(1);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $burgendy;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    color: $lightGrey;
    font-size: 22px;
    animation: pulse 3s infinite;

    &:hover {
      animation: none;
      transform: scale(1.2);
    }
  }
}

.battle-pod-image {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;

  img {
    width: 100%;
  }

  @include bottomWhiteFade;
}

.image-action-attack {
  color: $red;
}

.image-action-defence {
  color: $blue;
}

.image-action-heal {
  color: $green;
}

.image-action-charge {
  color: $gold;
}

.image-action-buff {
  color: $teal;
}

.image-action-illusion {
  color: $purple;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}
