@import "../../Assets/Scss/import.scss";

.action-title {
  margin-bottom: 5px;
}

.action-text {
  margin-bottom: 0px;
}

.action-quantity {
  position: absolute;
  background-color: $darkerGrey;
  height: 30px;
  width: 45px;
  border-bottom-left-radius: 5px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $gold;
  }
}

.action-item {
  @include cardFrame;
  width: 144px; // Fixed width
  height: 84px;
  padding: 30px 14px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 auto; // Prevent flex from resizing the item

  p {
    margin: 0;
    text-align: center;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.animate {
    @include boxShadowHover;
  }

  //Rarities
  &.rarity-0 {
    border: solid 8px $grey;
  }

  &.rarity-1 {
    border: solid 8px $darkerGrey;
  }

  &.rarity-2 {
    border: solid 8px $green;
  }

  &.rarity-3 {
    border: solid 8px $gold;
  }

  &.rarity-4 {
    border: solid 8px $purple;
  }
}
