@import "../../Assets/Scss/import.scss";

.action-item {
  width: 200px;
  height: 260px;
  border: solid 5px $black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50px 150px;
  overflow: hidden;
  position: relative;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.disabled-by-weapon {
    &::after {
      content: "Used in Weapon";
      text-align: center;
      background-color: $burgendy;
      color: $lightGrey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      padding: 20px;
      border-radius: 10px;
      font-family: "Cinzel Decorative", serif;
      font-weight: 700;
    }
  }

  &.animate {
    @include boxShadowHover;
  }

  &-bar {
    width: 50px;
    height: 260px;
    display: grid;
    grid-template-rows: 68px 46px 46px 46px 46px;
    justify-items: center;
    align-items: center;
    

    &.action-class-All {
      background: $darkGrey;
      background: linear-gradient(
        0deg,
        rgba($darkGrey, 1) 0%,
        rgba($lightGrey, 1) 100%
      );
    }

    &.action-class-Roken {
      background: $roken;
      background: linear-gradient(
        0deg,
        rgba($roken, 1) 0%,
        rgba(lighten($roken, 20%), 1) 100%
      );
    }

    &.action-class-Samurai {
      background: $samurai;
      background: linear-gradient(
        0deg,
        rgba($samurai, 1) 0%,
        rgba(lighten($samurai, 20%), 1) 100%
      );
    }

    &.action-class-Oyoroi {
      background: $oyoroi;
      background: linear-gradient(
        0deg,
        rgba($oyoroi, 1) 0%,
        rgba(lighten($oyoroi, 20%), 1) 100%
      );
    }

    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-image: url("../../Assets/Images/dashes/dash-circle.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;

      p {
        margin: 0;
      }
    }

    &-rarity {
      align-self: flex-start;

      &-dash {
        background-image: url("../../Assets/Images/dashes/dash-straight-even.png");
        background-repeat: no-repeat;
        background-size: 140% 140%;
        background-position: center center;
        height: 10px;
        width: 50px;
      }
    }

    .mana-circle {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .no-mana {
      opacity: 0.2;
    }

    .mana-dark {
      background-color: $black;

      p {
        color: $lightGrey;
      }
    }
    .mana-light {
      background-color: $white;
    }
    .mana-black {
      background-color: $manaBlack;
    }
    .mana-grey {
      background-color: $manaGrey;
    }
    .mana-orange {
      background-color: $manaOrange;
    }
    .mana-teal {
      background-color: $manaTeal;
    }
    .mana-gold {
      background-color: $manaGold;
    }
    .mana-jade {
      background-color: $manaJade;
    }
    .mana-crimson {
      background-color: $manaCrimson;
    }
    .mana-emerald {
      background-color: $manaEmerald;
    }
  }

  &-main {
    width: 150px;
    height: 260px;
    display: grid;
    grid-template-rows: 80px 140px 30px;
    background: $black;
    background: linear-gradient(
      0deg,
      rgba($darkerGrey, 1) 0%,
      rgba($black, 1) 100%
    );
    justify-content: center;
    justify-items: center;
    color: $lightGrey;
    padding-top: 15px;

    &-title {
      border-bottom: solid 2px $lightGrey;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h4 {
      font-size: 14px;
      max-width: 130px;
      text-align: center;
      align-self: center;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: $lightGrey;
      max-width: 150px;
      text-align: center;
      padding-top: 10px;
      margin: 0;
    }

    .small-text {
      overflow-y: auto;
    }

    &-quantity {
      background: $darkGrey;
      height: 30px;
      width: 50px;
      justify-self: flex-end;
      border-top-left-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding: 0;
        font-size: 16px;
        position: relative;
        top: -1px;
      }
    }
  }
}
