@import "../../Assets/Scss/import.scss";

.btn {
  margin: 20px 0px;
  p {
    margin: 0;
    z-index: 3;
    text-align: center;
  }
}

.btn-primary {
  @include boxShadow;
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 62px;
  padding: 0px 60px;
  cursor: pointer;
  transform: scale(1) rotate(0deg);
  transition: all 0.8s ease;
  background-color: $white;
  

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 72px;
    width: 35px;
    transition: width 0.8s ease;
    background-image: url('../../Assets/Images/dashes/dash-chevron.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .8s ease;
  }

  &::before {
    top: -5px;
    left: -10px;  
    transform: scale(-1);  
  }

  &::after {
    top: -5px;
    right: -10px;
  }

  &:hover {
    box-shadow: 0 20px 40px rgba(#333333, 0.3);
    transform: scale(1.05) rotate(-2deg);

    &::before {
      left: calc(100% - 10px);
    }

    &::after {
      right: calc(100% - 10px);
    }

    p {
      transform: scale(1.2);
    }
  }

  p {
    font-weight: 600;
    transition: transform 0.8s ease;
  }
}

.btn-secondary {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.8s ease;
  background-color: $white;
  font-size: 14px;
  @include boxShadowHover(-3px);

  &:hover {
    p {
      transform: scale(1.15);
    }
  }

  p {
    font-weight: 600;
    transition: transform 0.8s ease;
    color: $darkerGrey !important;
  }
}

.btn-small {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.8s ease;
  background-color: $white;
  font-size: 12px;
  @include boxShadowHover(-3px);

  &:hover {
    p {
      transform: scale(1.15);
    }
  }

  p {
    font-weight: 600;
    transition: transform 0.8s ease;
  }
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}
