@import "../../Assets/Scss/import.scss";

.home {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  @include homeBackground;

  &-buttons {
    display: flex;

    .btn {
      margin: 0 20px;
    }
  }
}