@import '../../Assets/Scss/import.scss';

.battle-container {
  @include sceneContainer;  
}

.battle-info {
  position: absolute;
  top: 20px;
  left: 20px;
}

.close-battle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background: $darkerGrey;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform .8s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.start-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #000000DD;
}

.start-modal {
  background-color: $lightGrey;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 10px $lightGrey;
}



