@import "../../Assets/Scss/import.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.timeline-container {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.timeline {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .timeline-slot {
    width: 150px;
    height: 120px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: 20px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;

    &.hover {
      background-color: $lightGrey;
    }

    &.filled {
      border: 2px solid $grey;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.timeline-slot-action {
  padding: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.action-title {
  margin-bottom: 5px;
}

.action-pool {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  padding-top: 30px;
  max-width: 600px;

  .action-item {
    @include cardFrame;
    @include boxShadowHover;
    width: 180px; // Fixed width
    height: 80px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto; // Prevent flex from resizing the item
    margin-right: 40px;

    p {
      margin: 0;
      text-align: center;
    }

    &:first-of-type {
      margin-left: 60px;
    }
    
    &:last-of-type {
      margin-right: 60px;
    }
  }
}

.home-button {
  margin-top: 40px;
}