@import "../../Assets/Scss/import.scss";

.pack-container {
  width: 150px;
  height: 170px;
  padding: 10px;
  background-image: url("../../Assets/Images/pack-bg.webp");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: $lightGrey;
  border-radius: 5px;
  border: solid 5px $grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.cantAfford {
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none;
  }

  p {
    margin: 0;
  }

  &.animate {
    @include boxShadowHover;
    cursor: pointer;
  }

  &-tier {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $grey;
    color: $darkerGrey;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include boxShadow;
  }

  &-cost {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: $white;
    color: $darkerGrey;
    width: 55px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include boxShadow;

    .discount {
      position: absolute;
      background-color: $burgendy;
      bottom: -10px;
      color: $lightGrey;
      font-size: 10px;
      padding: 3px 6px;
      border-radius: 10px;
      display: flex;
      white-space: nowrap; 
    }

    svg {
      color: $gold;
    }

    &.class-Roken {
      svg {
        color: $roken;
      }
    }

    &.class-Samurai {
      svg {
        color: $samurai;
      }
    }

    &.class-Oyoroi {
      svg {
        color: $oyoroi;
      }
    }

    &.classKobo {
      svg {
        color: $kobo;
      }
    }

    &.class-Taiko {
      svg {
        color: $taiko;
      }
    }

    &.class-Genso {
      svg {
        color: $genso;
      }
    }
  }

  &.type-Weapon {
    border-color: $darkerGrey;

    .pack-container-tier {
      background-color: $darkerGrey;
      color: $lightGrey;
    }
  }

  &.class-Roken {
    border-color: $roken;

    .pack-container-tier {
      background-color: $roken;
      color: $darkerGrey;
    }
  }

  &.class-Samurai {
    border-color: $samurai;

    .pack-container-tier {
      background-color: $samurai;
      color: $darkerGrey;
    }
  }

  &.class-Oyoroi {
    border-color: $oyoroi;

    .pack-container-tier {
      background-color: $oyoroi;
      color: $darkerGrey;
    }
  }

  &.class-Kobo {
    border-color: $kobo;

    .pack-container-tier {
      background-color: $kobo;
      color: $darkerGrey;
    }
  }

  &.class-Taiko {
    border-color: $taiko;

    .pack-container-tier {
      background-color: $taiko;
      color: $darkerGrey;
    }
  }

  &.class-Genso {
    border-color: $genso;

    .pack-container-tier {
      background-color: $genso;
      color: $darkerGrey;
    }
  }
}
