$white: #ffffff;
$lightGrey: #eee;
$grey: #aaa;
$darkGrey: #777;
$darkerGrey: #444;
$black: #000;

$burgendy: #690216;
$gold: #fccb61;

$red: #B97C7C;
$blue: #7C98B9;
$green: #7CA68A;
$gold: #B9A57C;
$teal: #7CABA8;
$purple: #9F7CB9;

$roken: $gold;
$samurai: $red;
$oyoroi: $blue;

$manaBlack: #1c1c1c; 
$manaGrey: #a1a1a1;  
$manaOrange: #9e4c2e;  
$manaTeal: #4b8c96; 
$manaGold: #b8860b; 
$manaJade: #91c5a3;   
$manaCrimson: #7c1018; 
$manaEmerald: #277a4b;  




