$white: #ffffff;
$lightGrey: #eee;
$grey: #aaa;
$darkGrey: #777;
$darkerGrey: #444;
$black: #000;

$burgendy: #690216;
$gold: #b9a57c;

$red: #b97c7c;
$blue: #7c98b9;
$green: #7ca68a;
$yellow: #fccb61;
$teal: #7caba8;
$purple: #9f7cb9;

$roken: $gold;
$samurai: $red;
$oyoroi: $blue;
$kobo: $green;
$taiko: $yellow;
$genso: $purple;

$manaBlack: #1c1c1c;
$manaGrey: #a1a1a1;
$manaOrange: #9e4c2e;
$manaTeal: #4b8c96;
$manaGold: #b8860b;
$manaJade: #91c5a3;
$manaCrimson: #7c1018;
$manaEmerald: #277a4b;
