$white: #ffffff;
$lightGrey: #eee;
$grey: #aaa;
$darkGrey: #777;
$darkerGrey: #444;

$burgendy: #690216;
$gold: #fccb61;

$red: #B97C7C;
$blue: #7C98B9;
$green: #7CA68A;
$gold: #B9A57C;
$teal: #7CABA8;
$purple: #9F7CB9;

