@import "./import.scss";

body {
  background-color: black;
}

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  z-index: 9999;
}

.game-container {
  width: 1295px;
  margin: auto;
  position: relative;
  color: $darkerGrey;

  .talismans-and-tokens {
    position: fixed;
    background-color: $white;
    top: 0px;
    left: 0px;
    width: 100px;
    z-index: 500;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-right: solid 5px $darkerGrey;
    border-bottom: solid 5px $darkerGrey;

    .headers {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .talismans,
    .tokens {
      position: relative;
      background-color: $white;
      width: 100px;

      &-list {
        &-container {
          margin-bottom: 10px;
          overflow-x: visible;
          display: grid;
          justify-items: center;
        }
      }

      .btn {
        margin-top: 20px;
        font-size: 8px;
      }

      // Overflow Section for Talismans & Tokens
      .overflow-talismans,
      .overflow-tokens {
        position: absolute;
        top: 10px;
        left: 100%;
        display: grid;
        grid-template-rows: repeat(5, auto); // Fill 5 rows first
        grid-auto-flow: column; // Fill rows before moving to next column
        justify-content: center;
        width: auto; // Allow expansion based on content
        background-color: $white;
        transition: all 0.5s ease;
        z-index: -1;
        border: solid 5px $darkerGrey;
        padding: 5px;

        &.hidden {
          transform: translateX(-100%);
        }
      }
    }

    .tokens {
      &-list {
        margin-bottom: 10px;
      }

      .token-item {
        position: relative;

        .discount {
          position: absolute;
          top: 59%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
        }

        .quantity {
          position: absolute;
          top: 0;
          right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: $darkerGrey;
          color: $lightGrey;
          z-index: 6;
        }

        svg {
          font-size: 48px;
        }
      }

      // Token Colors
      .normal {
        color: $grey;
        .discount {
          color: $darkerGrey;
        }
      }

      .weapon {
        color: $darkerGrey;
        .discount {
          color: $lightGrey;
        }
      }

      .roken {
        color: $roken;
        .discount {
          color: $darkerGrey;
        }
      }

      .samurai {
        color: $samurai;
        .discount {
          color: $darkerGrey;
        }
      }

      .oyoroi {
        color: $oyoroi;
        .discount {
          color: $darkerGrey;
        }
      }

      .kobo {
        color: $kobo;
        .discount {
          color: $darkerGrey;
        }
      }

      .taiko {
        color: $taiko;
        .discount {
          color: $darkerGrey;
        }
      }

      .genso {
        color: $genso;
        .discount {
          color: $darkerGrey;
        }
      }
    }
  }

  .game-menu {
    position: fixed;
    background-color: $white;
    top: 0px;
    right: 0px;
    width: 100px;
    z-index: 500;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-left: solid 5px $darkerGrey;
    border-bottom: solid 5px $darkerGrey;
    overflow: hidden;

    p {
      margin-bottom: 0;
      font-size: 14px;
    }

    div {
      margin-bottom: 10px;
    }

    .save-text {
      margin: 10px 0 0;
    }

    .save-game {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: $darkerGrey;
      cursor: pointer;
      @include boxShadowHover(-5px);
      z-index: 500;
      font-size: 22px;
      margin: 5px 0 10px;

      svg {
        color: $grey;
      }
    }

    .coins {
      svg {
        color: $gold;
      }
    }

    .dust-toggle {
      cursor: pointer;
      display: grid;
      justify-items: center;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.2);
      }

      svg {
        animation: colorCycle 20s infinite; /* 6 seconds for a full cycle */
        font-size: 20px;
      }
    }

    .dust {
      background-color: $darkerGrey;
      color: $lightGrey;
      width: 100px;
      height: 0px;
      transition: height 0.3s ease, transform 0.6s ease-out;
      overflow: hidden;
      margin: 0px;
      transform: translateX(25%);
      padding-left: 100%;

      div {
        margin: 5px 0;
      }

      p {
        font-size: 14px;
      }

      &.show-dust {
        height: 260px;
        transform: translateX(-25%);
      }

      .dust-roken {
        svg {
          color: $roken;
        }
      }

      .dust-samurai {
        svg {
          color: $samurai;
        }
      }

      .dust-oyoroi {
        svg {
          color: $oyoroi;
        }
      }

      .dust-kobo {
        svg {
          color: $kobo;
        }
      }

      .dust-taiko {
        svg {
          color: $taiko;
        }
      }

      .dust-genso {
        svg {
          color: $genso;
        }
      }
    }
  }
}

@keyframes colorCycle {
  0% {
    color: $roken;
  }
  12% {
    color: $roken;
  }
  16.66% {
    color: $samurai;
  }
  28.66% {
    color: $samurai;
  }
  33.33% {
    color: $oyoroi;
  }
  45.33% {
    color: $oyoroi;
  }
  50% {
    color: $kobo;
  }
  62% {
    color: $kobo;
  }
  66.66% {
    color: $taiko;
  }
  78.66% {
    color: $taiko;
  }
  83.33% {
    color: $genso;
  }
  95.33% {
    color: $genso;
  }
  100% {
    color: $roken;
  }
}
