@import './import.scss';

body {
    background-color: $darkerGrey  ;
}

.save-game {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $grey;
    cursor: pointer;
    @include boxShadowHover;
    z-index: 500;
    
    .icon {
        color: $darkerGrey;
    }
  }