@import './colours.scss';

@mixin sceneContainer {
    width: 1175px;
    min-height: 745px;
    padding: 60px;
    background-color: $lightGrey;
    margin: 40px auto;
    position: relative;
}

@mixin boxShadow {
  box-shadow: 0 5px 10px rgba(#333333, 0.5);
}

@mixin boxShadowHover($translateDistance: -10px) {
  @include boxShadow;
  transform: scale(1) translateY(0px) rotate(0deg);
  transition: all 0.8s ease;
  &:hover {
    box-shadow: 0 10px 20px rgba(#333333, 0.3);
    transform: scale(1.05) translateY($translateDistance) rotate(2deg);
  }
}

@mixin bambooBackground {
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../Assets/Images/bamboo-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.25;
  }
}

@mixin homeBackground {
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../Assets/Images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.25;
  }
}

@mixin jungleBackground {
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../Assets/Images/jungle-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.25;
  }
}

@mixin bottomDash {
  padding-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 200px;
    background-image: url("../Images/dashes/dash-straight-fade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
  }
}

@mixin cardFrame($darkMode: false) {
  @include boxShadow;
  position: relative;
  background: $white;

  div {
    z-index: 10;
  }

  // Conditionally apply dark mode styles
  @if $darkMode {
    background: $darkerGrey;
    h1, h2, h3, h4, h5, p {
      color: $lightGrey;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 160px;
    height: 80px;
    background-image: url("../Images/frame.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:before {
    top: -10px;
    left: -10px;
    transform: scale(-1);
  }

  &:after {
    bottom: -10px;
    right: -10px;
  }
}


@mixin bottomWhiteFade {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $lightGrey;
    background: linear-gradient(
      0deg,
      rgba($lightGrey, 1) 0%,
      rgba(240, 240, 240, 0) 40%
    );
  }
}
