@import "./colours.scss";

p,
li {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  color: $darkerGrey;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
.btn {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
  color: $darkerGrey;
  margin-top: 0;
}

@mixin font {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {

}

h1,
h2 {
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 200px;
    background-image: url("../Images/dashes/dash-straight-fade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

h1 {
  font-size: 48px;
  padding-bottom: 25px;
  &:after {
    height: 20px;
  }
}

h2 {
  padding-bottom: 15px;
  font-size: 24px;

  &:after {
    height: 10px;
  }
}

h3 {
  font-size: 24px; //same as h2 but no dash underline
}

.small-text {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  color: $darkerGrey;
  margin-top: 0;
  font-size: 12px;
}
