@import "../../Assets/Scss/import.scss";

.edit-container {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.timeline {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .timeline-slot {
    width: 180px;
    height: 180px;
    border: 2px dashed $darkGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;

    &-text {
      margin: 10px 0px;
      text-align: center;
    }

    &.hover {
      background-color: $lightGrey;
    }

    &.filled {
      @include cardFrame;
      border: solid 2px transparent;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.timeline-slot-action {
  padding: 20px;
  display: grid;
  grid-template-rows: 30px 90px 27px;
  justify-items: center;
  text-align: center;
  z-index: 10;
}

.action-title {
  margin-bottom: 5px;
}

.action-text {
  margin-bottom: 0px;
}

.action-pool {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  padding-top: 0px;
  max-width: 1000px;

  .action-item {
    @include cardFrame;
    @include boxShadowHover;
    width: 200px; // Fixed width
    height: 120px;
    padding: 10px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex: 0 0 auto; // Prevent flex from resizing the item

    p {
      margin: 0;
      text-align: center;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.home-button {
  margin-top: 40px;
}
