@import "../../Assets/Scss/import.scss";

.edit-container {
  @include sceneContainer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;

  @include bambooBackground;

  h1 {
    margin-bottom: 20px;
  }
}

.edit-timeline-grid {
  display: grid;
  z-index: 1;
}

.edit-action {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;

  .upgrade-button {
    background-color: $green;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) scale(1) rotate(0deg);
    transition: all 0.8s ease;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 15px;
    @include font;
    width: 135px;

    p {
      font-size: 12px;
      margin: 0;
    }

    &.disabled {
      background-color: $gold;
      pointer-events: none;
      p {
        color: $darkerGrey;
      }
    }

    &:hover {
      transform: translate(-50%, 50%) scale(1.2) rotate(-3deg);
    }
  }
}
.timeline-container {
  background-color: $darkerGrey;
  position: relative;
  text-align: center;
  color: $lightGrey;
  padding: 30px 0px;

  &-items {
    position: relative;
    display: grid;
    grid-template-columns: 600px 240px;
    width: 860px;
    padding: 0 20px;
    justify-content: space-between;

    .timeline {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(110px, 110px));
      width: 600px;
      height: 170px;
      justify-content: center; /* Space around each item horizontally */
      justify-items: center;
      align-items: center;
      @include cardFrame;

      h3 {
        color: $lightGrey;
        text-align: center;
        margin: 0;
      }

      .timeline-slot {
        width: 96px;
        height: 124px;
        border: 2px dashed $darkGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
        position: relative;

        &-text {
          margin: 10px 0px;
          text-align: center;
        }

        h5 {
          margin: 0px;
        }

        &-remove {
          position: absolute;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $burgendy;
          top: -10px;
          right: -10px;
          color: $lightGrey;
          cursor: pointer;
          font-size: 30px;
          @include boxShadowHover(-6px);
        }

        &-empty {
          background-color: $lightGrey;
          color: $burgendy !important;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-weight: 800;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.hover {
          background-color: $lightGrey;
        }

        &.filled {
          border: solid 2px transparent;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .timeline-slot-action {
        transform: scale(0.5);
      
        p {
          margin: 0;
          text-align: center;
        }
      }
    }

    .edit-weapon {
      width: 240px;
      @include cardFrame;
      justify-self: center;
      align-content: center;
      height: 170px;

      &-info {
        display: grid;
        grid-template-rows: 90px 40px;
      }

      p {
        font-size: 12px;
      }

      .btn {
        max-width: 60%;
        margin: auto;
      }
    }
  }
}

.action-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  width: 200px;
  height: 260px;
  border: solid 5px $black;
  border-radius: 10px;
  @include boxShadowHover;
  cursor: pointer;

  &-icon {
    font-size: 40px;
    @include boxShadowHover;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $darkerGrey;
  }
}

.action-pool {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 370px;
  height: 460px;
  overflow-y: scroll;
  padding: 30px 20px;
  justify-items: center;
  background-color: #00000055;
  margin-top: 20px;

  .action-item {
    cursor: grab;
  }
}

.home-button {
  margin-top: 20px;
}

//Action Modal

.add-action {
  h3 {
    text-align: center;
  }
}

.available-actions {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  overflow-y: auto;
  padding-top: 30px;

  &-action {
    margin: 20px;
    cursor: pointer;
    position: relative;

    &-icon {
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      pointer-events: none;
      color: $green;
      opacity: 0;
      transition: all 0.8s ease;
    }

    &:hover {
      .available-actions-action-icon {
        opacity: 1;
      }
    }
  }
}

//Weapon Modal

.weapon-selection {
  min-width: 600px;

  p {
    margin: 20px 0px;
  }

  .weapon-item {
    @include boxShadowHover;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h4 {
      margin: 0;
    }
  }
}
